.heading {
  font-family: "perpetua", serif;
}
/* Customized the links at the top of the website */
.navigation {
  list-style-type: none;
  background-color: #40e0d0;
  font-family: "Arial";
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}
