.heading {
  font-family: "perpetua", serif;
  text-align: left;
}
/* Customized the links at the top of the website */
.navigation {
  list-style-type: none;
  background-color: #40e0d0;
  font-family: "Arial";
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navigation a:hover {
  text-decoration: none;
  color: white;
}
.title {
  background-color: #505050;
  display: flex;
  font-family: "perpetua", serif;
  font-size: 60px;
  color: white;
}
/* ^ this is used for blacking out the top as well as flexboxing the logo and the title of the page*/
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: right;
  float: right;
}

/*makes the link darker when hovered over*/
li a:hover {
  background-color: #14dbc7;
}

/* used for positioning the slideshow*/
.slideshow-container {
  position: absolute;
  padding: 50px;

  margin: 0 0 0 0;
  /* Center vertically and horizontally */
}

/*This is used as a white box that will be placed around most text in the website as well as giving it a rounded border*/
.flex-container {
  flex-direction: column;
  text-align: center;
  flex: 1 2 300px;
  font-family: "perpetua", serif;
}

.myslides {
  position: center;
}

.flex-item {
  border-radius: 40px;
  border-width: 150px;
  background-color: white;
  padding: 20px 0;
}

.flex-item p {
  font-size: 20px;
}

.flex-item a:hover {
  text-decoration: none;
  color: white;
  background-color: #14dbc7;
}
.join-link {
  margin: 0;
  padding: 14px 20px;
  background-color: turquoise;
  color: white;
  font-size: 20px;
}

.homegallery {
  flex-direction: row;
}

.description {
  flex-direction: column;
  text-align: center;
  flex: 1 2 300px;
  font-family: "perpetua", serif;
  background-color: white;
  border-radius: 40px;
}
